* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    padding: 30px;
}

h1 {
    padding: 20px;
    font-size: 50px;
    font-weight: 300;
}

#subtitle {
    color:rgb(156, 153, 153);
    font-weight:400;
    font-size: 18px;
}

main {
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 10px;
}

.row {
    font-size: 20px;
    padding-top:30px;
    padding-bottom: 30px;
}

.left {
    color:rgb(156, 153, 153);
    text-align: right;
    border-right: solid 2px;
    border-color: black;
    padding-right: 25px;
}

.right {
    text-align: left;
    margin-left: 25px;
}

span {
    color: black;
    position: relative;
    left: 32px;
}


button {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    margin: 30px;
}

